 <!DOCTYPE html>
<html>
     <head>
         <meta charset = "UTF-8">
     
     </head>
     <body>
         before
         <br>
         <%- body %>
         
         <br>

         after

     </body>
     </html>